.lists-container {
    margin: 150px auto;
    width: 70%;
}

.heading-28 {
    color: #0086EA;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .04em;
    text-align: center;
}

.heading-28::before {
    display: block;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: .02em;
    content: attr(data-label);
}

/* Card wrapper */
.lists-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    display: grid;
    gap: 40px;
}

.card {
    background: #FFFFFF;
    border-radius: 10px;
    border: #eeeeee 2px solid;
    padding: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.card p {
    line-height: 1.6;
    font-size: 0.95rem;
}

/* Card wrapper end */

/* Search Form */
.search-form-3 {
    justify-content: space-between;
    border: 1px solid #777777;
    margin: 0 auto 60px auto;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 60%;
}

.search-form-3 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-3 input::placeholder {
    color: #777777;
}

.search-form-3 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-3 button::after {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: '';
}

/* Search Form end */

@media screen and (max-width: 1000px) {
    .lists-container {
        flex-direction: column;
        margin-right: auto;
        width: 90%;
    }

    .search-form-3 {
        width: 90%;
    }
}