.home-container {
    background-color: #eeeeee;
    border-radius: 25px;
    align-items: center;
    margin: 130px auto;
    display: flex;
    padding: 75px;
    width: 70%;
}

.logo-area {
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    display: flex;
    width: 250px;
    height: 250px;
}

.logo-image {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
    animation: logo-move 3s ease-in-out infinite;
    pointer-events: none;
    user-select: none;
    width: 200px;
    height: 200px;
}

.title {
    margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .home-container {
        flex-direction: column;
        padding: 75px;
        margin: 80px auto;
        width: 90%;
    }

    .logo-area {
        margin: -25px 0 40px 0;
    }

    .text-area {
        width: 100%;
    }
    
}

@keyframes logo-move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}