header {
    background-color: #0086EA;
    align-items: center;
    color: #FFFFFF;
    position: fixed;
    z-index: 99999;
    display: flex;
    height: 80px;
    width: 100%;

}

/* Hamburger menu */
.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 35px;
}
.menu-button:hover {
    opacity: 0.7;
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
.menu-button span {
    display: block;
    border-radius: 20px;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: 0.4s;
}
/* Hunburger menu end */

.nav-logo {
    margin: 0px auto 0px 50px;
    font-size: 1.5em;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 0px 50px 0px 0px;
}

.menu-item a {
    color: #FFFFFF;
    text-decoration: none;
    height: 100%;
}
.menu-item a:hover {
    color: #aaaaaa;
    transition: ease-in-out 0.3s;
}
@media (max-width: 768px) {
    .nav-logo {
        margin: 0px auto 0px 30px;
        font-size: 1.2em;
    }
}


/* Header Modal */
.menu-modal {
    display: flex;
}
.menu-modal.open{
    display: block;
}
@media (max-width: 768px) {
    .menu-modal {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-item {
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: #61a8dd;
        border: #5e9dcc solid 0.5px;
    }
    .menu-item a {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu-item a:hover {
        background-color: #599bce;
        color: #FFFFFF;
    }
    .menu-item a:active {
        background-color: #69ace0;
        color: #FFFFFF;
    }
}
/* Header Modal end */