header {
  z-index: 9999;
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
}

.nav-logo {
  pointer-events: none;
  user-select: none;
  width: 35px;
  margin-right: auto;
  margin-left: 30px;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 0px 30px 0px 0px;
}

@media screen and (max-width: 700px) {
  .menu-item {
    padding: 0px 0px 0px 0px;
  }
  
}

.menu-item a {
  text-decoration: none;
  color: #474747;
}
.menu-item a:hover {
  color: #d3d3d3;
  transition: all 0.3s;
}


@media screen and (max-width: 700px) {
  .menu-button {
    display: block;
  }

  .menu-modal {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-modal.open {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;;
  }
  .menu-item {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: #cccccc solid 0.5px;
  }
  .menu-item a {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .menu-item a:hover {
    background-color: #f5f5f5;
    animation: ease-in-out 0.3s;
  }
  .menu-item a:active {
    background-color: #e5e5e5;
  }
  .menu-button span {
    display: block;
    border-radius: 20px;
    width: 25px;
    height: 3px;
    background-color: #474747;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-button.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-button.open span:nth-child(2) {
    opacity: 0;
  }

  .menu-button.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}