@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");

:root{
  --light-color: #ffffff;
  --dark-color: #474747;

  --light-text: #ffffff;
  --dark-text: #474747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #474747;
  user-select: none;
}