@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");

:root{
  --light-color: #ffffff;
  --dark-color: #474747;

  --light-text: #ffffff;
  --dark-text: #474747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #474747;
  user-select: none;
}

/* Header */
header {
  z-index: 9999;
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
}

.nav-logo {
  pointer-events: none;
  user-select: none;
  width: 35px;
  margin-right: auto;
  margin-left: 30px;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 0px 30px 0px 0px;
}

@media screen and (max-width: 700px) {
  .menu-item {
    padding: 0px 0px 0px 0px;
  }
  
}

.menu-item a {
  text-decoration: none;
  color: #474747;
}
.menu-item a:hover {
  color: #d3d3d3;
  transition: all 0.3s;
}


/* Footer */

footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffffd0;
  border: #eeeeee solid 1px;
  margin: 0px 0px 20px 20px;
  border-radius: 40px;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  height: 60px;
  display: flex;
  position: fixed;
  cursor: pointer;
  width: 250px;
  bottom: 0;
}
.footer-nav {
  padding: 10px 0px 10px 0px;
  text-align: left;
  margin-left: 20px;
  font-size: 10px;
}
.bold-text {
  font-size: 10px;
}

@media screen and (max-width: 700px) {
  footer {
    margin: 0px 0px 25px 25px;
    height: 50px;
    width: 200px;
  }
  .footer-nav {
    padding: 10px 0px 10px 10px;
    font-size: 8px;
    margin-left: 7px;
  }
  .bold-text {
    font-size: 8px;
  }
}

/* Details */
/* Special Thanks CSS Stock | Oteo */
/* https://pote-chil.com/css-stock/ja */

.modal-1__wrap {
  display: inline-block;
}

.modal-1__wrap input {
  display: none;
}

.modal-1__open-label,
.modal-1__close-label {
  cursor: pointer;
}

.modal-1__open-label {
  color: #3e9eec;
  font-size: .95em;
  font-weight: bold;
}

.modal-1__open-label:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #2e73ac;
}

.modal-1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.modal-1__open-input:checked + label + input + .modal-1 {
  display: block;
  animation: modal-1-animation .6s;
}

.modal-1__content-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 650px;
  background-color: #fefefe;
  z-index: 2;
  border-radius: 5px;
}

.modal-1__close-label {
  background-color: #777;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  line-height: 1.5;
  text-align: center;
  display: table-cell;
  position: fixed;
  top: -15px;
  right: -2%;
  z-index: 99999;
  font-size: 1.4em;
}

.modal-1__content {
  max-height: 50vh;
  overflow-y: auto;
  padding: 39px 45px 40px;
}

.modal-1__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
  z-index: 1;
}

@keyframes modal-1-animation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media only screen and (max-width: 520px) {
  .modal-1__open-label {
      margin-left: -40px;
      max-width: 90%;
      padding: .94em 2.1em .94em 2.6em;
  }

  .modal-1__close-label {
      top: -17px;
      right: -4%;
  }

  .modal-1__content-wrap {
      width: 90vw;
  }

  .modal-1__content {
      padding: 33px 21px 35px;
      max-width: 100%;
  }
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 30px;
}

.menu-modal {
  display: flex;
}

.menu-modal.open {
  display: block;
}

@media screen and (max-width: 700px) {
  .menu-button {
    display: block;
  }

  .menu-modal {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-modal.open {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;;
  }
  .menu-item {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: #cccccc solid 0.5px;
  }
  .menu-item a {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .menu-item a:hover {
    background-color: #f5f5f5;
    animation: ease-in-out 0.3s;
  }
  .menu-item a:active {
    background-color: #e5e5e5;
  }
  .menu-button span {
    display: block;
    border-radius: 20px;
    width: 25px;
    height: 3px;
    background-color: #474747;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-button.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-button.open span:nth-child(2) {
    opacity: 0;
  }

  .menu-button.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}