@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #474747;
  user-select: none;
}

/* Attention */

.attention-container {
  display: none;
}
@media screen and (min-width: 701px) and (max-width: 1040px)  {
  .explain-container, .list-container {
    display: none;
  }
  .attention-container {
    margin: 0% 0px 20% 0px;
    display: block;
  }
  .attention-contents {
    text-align: center;
  }
}

/* Header */
header {
  z-index: 9999;
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #ffffffd0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
}

.nav-logo {
  margin-right: auto;
  margin-left: 30px;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 0px 30px 0px 0px;
}

.menu-item a {
  text-decoration: none;
  color: #474747;
}
.menu-item a:hover {
  color: #d3d3d3;
  transition: all 0.3s;
}

/* Explain */

.explain-container {
  padding: 150px 300px 0px 300px;
}

.explain-header {
  align-items: center;
}

@media screen and (max-width: 700px) {
  .explain-container {
    padding: 150px 30% 0px 30%;
  }
  .explain-container h2 {
    font-size: 20px;
  }

  .explain-header {
    margin: 0px 10px 0px 10px;
  }
}

@media screen and (max-width: 1200px) { 
  .explain-container {
    padding: 150px 5% 0px 5%;
  }
  .explain-container h2 {
    font-size: 18px;
  }
}

/* SearchForm */
/* Special Thanks CSS Stock | Oteo */
/* https://pote-chil.com/css-stock/ja */

.search-form {
  margin: 50px 0px 50px 0px;
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 400px;
  box-shadow:  1px 1px 1px #bebebe, -1px -1px 1px #ffffff;
}
.search-form:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
.search-form:before {
  width: 45px;
  height: 15px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%239aa0a6%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
  background-position: center;
  background-repeat: no-repeat;
  content: '';
}
.search-form input {
  width: 330px;
  height: 40px;
  padding: 5px 25px 5px 0;
  border: none;
  outline: none;
}

@media screen and (max-width: 700px) {
  .search-form {
    margin: 50px 0px 50px -70px;
    width: 340px;
  }
  .search-form input {
    width: 270px;
  }
}

/* thumbnail */

.thumb-image {
  pointer-events: none;
  filter: grayscale(100%);
  margin: -15px 0px 0px 270px;
  position: absolute;
  width: 100px;
  height: 50px;
  object-fit: cover;
}
@media screen and (max-width: 700px) {
  .thumb-image {
    margin: -30px 0px 0px 170px;
    width: 80px;
    height: 40px;
  }
  
}

/* Lists */

.list-container {
  margin: 0px 0px 0px 310px;
}
.list-wrapper {
  padding: 50px 100px 70px 100px;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 500px;
}

@media screen and (max-width: 700px) {
  .list-container {
    margin: 0px 0px 0px 100px;
  }
  .list-wrapper {
    padding: 50px 30px 70px 65px;
    margin: 0px 0px 40px -67px;
    width: 330px;
  }
  .rank-id, .name, .degree, .examination, .description, .link {
    margin-left: -30px;
  }
}

/* Footer */

footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffffd0;
  border: #eeeeee solid 1px;
  margin: 0px 0px 20px 20px;
  border-radius: 40px;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  height: 60px;
  display: flex;
  position: fixed;
  cursor: pointer;
  width: 250px;
  bottom: 0;
}
.footer-nav {
  padding: 10px 0px 10px 0px;
  text-align: left;
  margin-left: 20px;
  font-size: 10px;
}
.bold-text {
  font-size: 10px;
}

@media screen and (max-width: 700px) {
  footer {
    margin: 0px 0px 25px 25px;
    height: 50px;
    width: 200px;
  }
  .footer-nav {
    padding: 10px 0px 10px 10px;
    font-size: 8px;
    margin-left: 7px;
  }
  .bold-text {
    font-size: 8px;
  }
}

/* Details */
/* Special Thanks CSS Stock | Oteo */
/* https://pote-chil.com/css-stock/ja */

.modal-1__wrap {
  display: inline-block;
}

.modal-1__wrap input {
  display: none;
}

.modal-1__open-label,
.modal-1__close-label {
  cursor: pointer;
}

.modal-1__open-label {
  color: #3e9eec;
  font-size: .95em;
  font-weight: bold;
}

.modal-1__open-label:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #2e73ac;
}

.modal-1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.modal-1__open-input:checked + label + input + .modal-1 {
  display: block;
  animation: modal-1-animation .6s;
}

.modal-1__content-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 650px;
  background-color: #fefefe;
  z-index: 2;
  border-radius: 5px;
}

.modal-1__close-label {
  background-color: #777;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  line-height: 1.5;
  text-align: center;
  display: table-cell;
  position: fixed;
  top: -15px;
  right: -2%;
  z-index: 99999;
  font-size: 1.4em;
}

.modal-1__content {
  max-height: 50vh;
  overflow-y: auto;
  padding: 39px 45px 40px;
}

.modal-1__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
  z-index: 1;
}

@keyframes modal-1-animation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media only screen and (max-width: 520px) {
  .modal-1__open-label {
      /* margin-left: -40px; */
      max-width: 90%;
      padding: .94em 2.1em .94em 2.6em;
  }

  .modal-1__close-label {
      top: -17px;
      right: -4%;
  }

  .modal-1__content-wrap {
      width: 90vw;
  }

  .modal-1__content {
      padding: 33px 21px 35px;
      max-width: 100%;
  }
}