@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");

:root{
  --light-color: #ffffff;
  --dark-color: #474747;

  --light-text: #ffffff;
  --dark-text: #474747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #474747;
  user-select: none;
}


/* Details */
/* Special Thanks CSS Stock | Oteo */
/* https://pote-chil.com/css-stock/ja */

.modal-1__wrap {
  display: inline-block;
}

.modal-1__wrap input {
  display: none;
}

.modal-1__open-label,
.modal-1__close-label {
  cursor: pointer;
}

.modal-1__open-label {
  color: #3e9eec;
  font-size: .95em;
  font-weight: bold;
}

.modal-1__open-label:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #2e73ac;
}

.modal-1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.modal-1__open-input:checked + label + input + .modal-1 {
  display: block;
  animation: modal-1-animation .6s;
}

.modal-1__content-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 650px;
  background-color: #fefefe;
  z-index: 2;
  border-radius: 5px;
}

.modal-1__close-label {
  background-color: #777;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  line-height: 1.5;
  text-align: center;
  display: table-cell;
  position: fixed;
  top: -15px;
  right: -2%;
  z-index: 99999;
  font-size: 1.4em;
}

.modal-1__content {
  max-height: 50vh;
  overflow-y: auto;
  padding: 39px 45px 40px;
}

.modal-1__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
  z-index: 1;
}

@keyframes modal-1-animation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media only screen and (max-width: 520px) {
  .modal-1__open-label {
      margin-left: -40px;
      max-width: 90%;
      padding: .94em 2.1em .94em 2.6em;
  }

  .modal-1__close-label {
      top: -17px;
      right: -4%;
  }

  .modal-1__content-wrap {
      width: 90vw;
  }

  .modal-1__content {
      padding: 33px 21px 35px;
      max-width: 100%;
  }
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 30px;
}

.menu-modal {
  display: flex;
}

.menu-modal.open {
  display: block;
}
