@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #474747;
  user-select: none;
}